<div class="card" style="width: 80%;">
  
  <div class="card-body">
    <h4 class="card-title"><%= product.name %></h4>
    <p class="card-text">
        <%= product.description %>
    </p>
    <p class="text-secondary">
      <i class="bi bi-person-check-fill"></i>
      <%= product.name %>
    </p>
  </div>
</div>

<%= link_to "New product", new_product_path %>
