<!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">Tuferrexpress</h1>
                        <p class="lead fw-normal text-white-50 mb-4">La ferreteria cercana al vecino!</p>
                        
                    </div>
                </div>
                
                <div class="col-xl-5 col-xxl-6 d-noned-xl-block">
                <%= image_tag 'logocircular2.png', id: 'logo', size:'120x120', class: 'img-responsive class="img-responsive ml-auto d-block mx-auto' %>
                </div>
                
                 
            </div>
        </div>
    </header>