<h1>Editar producto</h1>

<%= render "form", product: @product %>

<div>
  <%= link_to "Mostrar producto", @product, class:'btn btn-primary' %> 
   <%= link_to "Volver a productos", products_path, class:'btn btn-primary' %>
</div>
